{{#if user}}
<h1>Page privée</h1>
<img src="https://media4.giphy.com/media/9rjSVestFxp41kiyjl/giphy.gif?cid=ecf05e47042608f1e7b98b4cb2b03dee8fc51ee007dfb148&rid=giphy.gif" alt="tortue">
{{else}}

<a href="/">Go to main page !</a>

{{/if}}